*{
    box-sizing: border-box;
    margin: none;
    padding: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    color:#492118;
    padding: 0px;
    margin: 0px;
    background-color: #F6F0EB;
    min-width: 320px;
}

.header{
    background-color: #fff;
    padding: 24px;
}

.header-container{
    display: flex;
    max-width: 1290px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 20px;
}

.logo{
    width: 50px;
}

.logo img {
    width: 100%;
}

nav a{  
    font-weight: 700;
    color: #492118;
    text-decoration-line: none;
}

nav a + a{  
    margin-left: 60px;
}

main{
    padding-inline: 36px;
}

.hero-section{
    margin-top: 80px;
}
.hero-section p{
    text-align: center;
    color: inherit;
    margin: 0 auto;
}

.img-container{
    max-width: 1290px;
    margin: 0 auto;
}
.img-container img{
    width: 100%;
}

.section{
    margin-top: 50px;
}

.section .img-container{
    max-width: 800px;
    margin: 0 auto;
}
.section img{
    width: 100%;
}

.section h2{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.footer-text{
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
    padding-top: 50px;
    font-size: 24px;
}

.footer-text a{
    text-decoration-line: underline;
}


footer p{
    color: #858585;
    text-align: center;
    padding-top: 80px;
    font-size: 16px;
    padding-bottom: 30px;
}

.close-icon{
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    display: none;
}

.hamburger-icon{
    width: 24px;
    background-color: #fff;
    padding: 4px 32px 8px 24px;
    border-radius: 0 0 0 100%;
    cursor: pointer;
    display: none;
}


@media(max-width: 1260px){
    nav a{
        font-size: 16px;
    }
    nav a + a{  
        margin-left: 48px;
    }
    
}

@media(max-width: 1060px){
    nav a{
        font-size: 12px;
    }
    nav a + a{  
        margin-left: 32px;
    }
    .header{
        padding: 16px 24px;
    }
    
}



@media(max-width : 768px){
    nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        background-color: hsla(0, 0%, 100%, 0.75);
        margin: 24px;
        width: 200px;
        padding: 24px 16px;
        display: none;
    }
    nav a{
        font-size: 12px;
        font-weight: 700;
        line-height: medium;


    }

    nav a+a{
        margin: 0;
        padding-top: 16px;
    }
    .header{
        background: transparent;
        position: sticky;
        top: 0;
        background-color: hsla(27, 38%, 94%, 0.75);
        backdrop-filter: blur(8px);
        padding: 20px 24px 12px 24px;

    }
    
    .hero-section{
        margin-top: 32px;
    }
    
    .logo{
        width: 30px;
    }

    .section{
        margin-top: 16px;
    }
    .section h2{
        font-size: 20px;
    }
    .hero-section p{
        font-size: 10px;
    }
    .close-icon, .hamburger-icon{
        display: block;
    }
    .menu-open nav{
        display: flex;
    }
    .menu-open .hamburger-icon{
        display: none;
    }
}
